@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

*{
    font-family: 'Bitcount Grid Single';
    font-size: 36px;
    background-color: #1A3D64;
}

.main{
    height: 60vh;
    width: 60vh;
    align-self: center;
    justify-self: center;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}